# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local

# SQLite Database & Write-Ahead Logs
oncop.db-shm
oncop.db-wal

# Log files
*.log
npm-debug.log*

# Python artifacts
__pycache__/
*.pyc

# OS metadata
.DS_Store
Thumbs.db
